a:link, a:visited {
    color: #003da5;
}
  
a:hover, a:active {
    color: #ffa300;
}

body {
    background-color: #eceff1;
    font-family: sans-serif;
    margin: auto;
    max-width: 90%;
    padding-bottom: 10px;
}

h1, h2, h3 {
    margin: 6px;
}

.centerimg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.thumbnailEnlarger {
    position: relative;
}

.thumbnailEnlarger span {
    position: fixed;
    display: none;
}

.thumbnailEnlarger:hover span {
    display: block;
}

.thumbnailEnlarger span img {
    position: fixed;
    max-height: 50%;
    max-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    margin: 6px;
    font-size: 16px;
}

img {
    margin: 6px;
}

.blur {
    filter: blur(10px)
}

.code {
    background-color: #302d2d;
    font-family: monospace;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.bold {
    font-weight: bold;
}

.warning {
    color: #ff0000;
    font-weight: bold;
}

.info:hover {
    cursor: help;
    text-decoration: underline;
}

.topBar {
    background-color: #eceff1;
    position: sticky;
    top: 0;
    margin: auto;
    width: 100%;
}

.menuBar {
    background-color: #003DA5;
    border: 1px solid #000000;
    margin: auto;
    overflow: auto;
    position: sticky;
}
.menuBar p a, .menuBar a {
    color: #ffffff;
}
.menuBar a:hover, .menuBar a:active {
    color: #ffa300;
}
.menuBar button {
    background: none;
    font-size: 16px;
    margin: auto;
    padding: auto;
    border: none;
    cursor: pointer;
    color: #ffffff;
}
.menuBar button:hover, .menuBar button:active {
    color: #ffa300;
}

#bom {
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top;
}
#bom th {
    text-align: center;
    background-color: #aaaaaa;
}
#bom td, #bom th{
    border-collapse: collapse;
    border: 1px solid #000000;
    text-align: center;
}
#bom tr:nth-child(even) {background-color:#f2f2f2;}
#bom tr:hover {background-color: #dddddd;}

#catalog {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#catalog td, #catalog th {
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
}
#catalog img {
    border: 1px solid #000000;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#catalog tr:nth-child(even) {background-color:#f2f2f2;}
#catalog tr:hover {background-color: #dddddd;}
#catalog th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #aaaaaa;
    margin: 0 100%;
    position: sticky;
}
#catalog input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    background-color: transparent;
    border: 1px solid #000000;
}

#parts {
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
    background-color: transparent;
}

#parts td, #parts th {
    border: none;
    padding: 0px;
    background-color: #f9f9f9;
}

.dataTables_filter {
    float: left !important;
 }

 th.dt-center, td.dt-center { text-align: center;}

button, select, input[type=file] {
    cursor: pointer;
    background-color: inherit;
}

input[type=text], input[type=password] {
    background-color: #ffffff;
    border: #a9acac solid 1px;
}

textarea {
    background-color: #ffffff;
    border: #a9acac solid 1px;
}

select {
    background-color: inherit;
    border: #a9acac solid 1px;
}

.dataTable select {
    display: block;
    margin: 0 auto;
}

.dataTable input[type="number"] {
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    background-color: transparent;
    border: 1px solid #000000;
}

textarea {
    max-width: 100%;
    min-width: 100%;
}

pre {
    font: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
}